.container1 {
    margin: 0;
    padding: 0;

    /* background-color: red; */
    height: auto;


}

.header {
    width: 100%;
    height: auto;
}

.header img {
    max-width: 100%;
    height: auto;
}

.lrcontainer {
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-right: 110px;
    margin-bottom: 110px;
    margin-top: -50px;
    width: 50%;
    border: 1px solid #ffa200;
    border-radius: 10px;
    box-shadow: 3px 8px 12px #ffd8ab;
}

.leftchild {

    width: 70%;

}

.right {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin: 10px;
    margin-left: 110px;
    margin-bottom: 110px;
    margin-top: -50px;
    padding: 20px;
    align-items: center;
    width: 50%;

}


#message {
    height: 80px;


}

.footer {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 100px;
}

.navbar {
    background-color: rgb(223, 223, 223);
    width: 100%;
    height: 50px;
}

.btn {
    margin: 0;
    padding: 0;
    margin: 10px;
    width: 40%;
}

.btn2 {
    font-size: 20px;
    transition: 0.3s;
}

.btn2:hover {
    background-color: white;
    border: 1px solid #ffa200;
    color: #ffa200;
}


.labelStyl {
    margin-top: 10px;
}

.contactheading {
    color: rgb(236, 164, 9);
    font-size: 50px;
}


@media screen and (max-width: 900px) {
    .lrcontainer {
        flex-direction: column;
    }

    .right img {
        max-width: 100%;
        height: auto;
    }

    .left {
        width: 95%;
        margin: 100px;
        padding: 0px;
    }

    .right {
        display: flex;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: 1px;
        padding: 0;
        width: 100%;

    }

    .contactheading {
        font-size: 40px;
    }

}


